---
const titulo = "关于我";
const spanishLink = "/es/quien-soy";
---
<html lang="zh">
<head>
  <title>{titulo} | SinotecTrans</title>
</head>
<body>
  <header>
    <h1>{翻译工作室 Sinotectrans}</h1>
    <a href={spanishLink}>Versión en español</a>
  </header>
  <main>
    <img 
      src="public/images/IMG_1222-R.jpg" 
      alt="专业翻译 Eugenio García-Salmones" 
      width="300" 
      height="300"
      loading="lazy"
    />
    <p>
      我叫 Eugenio García-Salmones，我是一名经验丰富的西语人翻译，热爱中国文化和中国。我多年来积累的经验, 涵盖多个技术领域，包括：经济金融、法律、技术、航空、医学、制药、高速铁路、核能和军事。

我对当今中国的政治、经济和文化等方面的现实情况有很深的了解，这使我能够为客户提供高质量的服务，在很多情况下，这对我的客户来说是一种指导，能够澄清很多细微的差别，否则就会失去了很多。
    </p>
  </main>
</body>
</html>








---
// Parte superior: Frontmatter (variables)
const titulo = "Sobre mí";
const chineseLink = "/zh/关于我";
---

<html>
  <body>
    <!-- Contenido editable -->
    <h1>{翻译工作室 Sinotectrans}</h1>
    <img src="/images/eugenio-garcia.jpg" ... />
    <p>我叫 Eugenio García-Salmones，我是一名经验丰富的西语人翻译，热爱中国文化和中国。我多年来积累的经验，涉及多个技术领域，包括：经济学 金融学、法律、核电、航空、制药工程，医药、冶金。

我对当今中国的政治、经济和文化等方面的现实情况有很深的了解，这使我能够为客户提供高质量的服务，在很多情况下，这对我的客户来说是一种指导，能够澄清很多细微的差别，否则就会失去了很多。.</p>
  </body>
</html>