// src/pages/es/quien-soy.astro
const titulo = "Sobre mí";
const chineseLink = "/zh/关于我";
---
<html lang="es">
<head>
  <title>{titulo} | SinotecTrans</title>
</head>
<body>
  <header>
    <h1>{Estudio de traducción Sinotectrans}</h1>
    <a href={chineseLink}>中文版本</a>
  </header>
  <main>
    <img 
      src="public/images/IMG_1222-R.jpg" 
      alt="Eugenio, traductor profesional" 
      width="300" 
      height="300"
      loading="lazy"
    />
    <p>
      Me llamo Eugenio García-Salmones y soy un experimentado traductor e intérprete de origen Español, amante del país y la cultura China. Mi experiencia, acumulada a lo largo de los años, abarca cierta cantidad de campos técnicos, entre ellos; el económico-financiero, el jurídico, la técnica, la aviación, la medicina general, la industria farmacéutica, los trenes de alta velocidad, la energía nuclear, y la militar.
Tengo un profundo conocimiento de la realidad China de hoy en día, tanto política, económica como cultural, lo que me permite ofrecer unos servicios de gran calidad, que son una guía en muchas ocasiones para mis clientes, al poder aclarar muchos matices que de otra manera se perderían.
    </p>
  </main>
</body>
</html>





